
  .App-header {
    background-color: white;
    display: flex;
    border-radius: 12px;
    flex-flow: row wrap;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .logo-motto {
    flex: 1;
    display: flex;
  }
  
  .App-logo {
    height: 75px;
    margin: 5px;
  }
  
  .App-title {
    align-self: flex-end;
    margin: 5px;
    font-size: 1em;
  }
  
  #sign-out {
    /* flex: 1; */
    /* margin: 5px;
    align-self: flex-end; */
    transition-duration: 0.4s;  
    background-color: #f44336;
    border-radius: 12px;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #f44336;
  }

  #sign-out:hover {
    background-color: white;
    color: #f44336;
  }

  #feedback{
    margin-right: 10px;
  }
  

  /* 
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  } */
  